<%- include('../partials/headers.ejs'); %>

    <div class="p-10">
        <div class="w-full inline-flex justify-center">
            <button id="btn-8-p"
                class="text-white bg-blue-600 rounded-full px-4 py-2 hover:bg-teal-900 font-semibold lowercase duration-700">
                8 Players
            </button>
            <div class="w-10"></div>
            <button id="btn-16-p"
                class="text-white bg-blue-600 rounded-full px-4 py-2 hover:bg-teal-900 font-semibold lowercase duration-700">
                16 Players
            </button>
        </div>
        <div class="w-full inline-flex justify-center">
            <h1 id="game-type" class="pt-8">Select Type of Game</h1>
        </div>
        
        <div class="w-full inline-flex justify-center">
            <h1 id="game-type" class="font-bold pt-8">Generate Random Players</h1>
        </div>
        <div class="w-full inline-flex justify-center">
            <button id="generate-players"
                class="mt-8 text-white bg-blue-600 rounded-full px-4 py-2 hover:bg-teal-900 font-semibold lowercase duration-700">
                Generate
            </button>
        </div>

        <div class="pt-8" id="brackets-view">
            
        </div>

        <div class="w-full inline-flex justify-center">
            <button class="mt-8 text-white bg-green-600 rounded-full px-4 py-2 hover:bg-teal-900 font-semibold lowercase duration-700" id="btn-create-tournament" hidden>Create Tournament</button>
        </div>

    </div>

<%- include('partials/footer.ejs'); %>